/* .parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
} */

/* .child {
  width: calc(33.33%);
  height: 100vh;
  border: 1px solid black;
  box-sizing: border-box;
  overflow: hidden;
} */

/* .scrollable {
  overflow: auto;
} */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
  --text__color: #fff;
  --bg__color: #000;
  --hover__bg__color: #272c30;
  --bg__gray: #eff3f4;
  --bg__gray__v2: #f7f9f9;
  --border__color: #e6e6e6;
  --gray__text__color: #536471;
  --green__text__color: #009900;
  --fade__green__text__color: #08c6082a;
}

body {
  box-sizing: border-box;
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 0px;
  padding: 0px;
  font-family: 'Ubuntu', sans-serif;
}

.parent {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.child {
  height: 100vh; /* adjust as necessary */
  /* border: 1px solid black; */
  box-sizing: border-box;
}
.child::-webkit-scrollbar {
  display: none;
}

.scrollable {
  flex: 1 1 0;
  overflow-x: auto;
  border: 0.2px solid rgb(207, 207, 207);
}

.scrollable::-webkit-scrollbar {
  display: none;
}

.left,
.right {
  flex: 0 1 23%; /* adjust as necessary */
  overflow-x: auto;
}

.active__tab {
  overflow-y: hidden;
}
.app__container {
  display: flex;
  flex-direction: row;
  position: relative;
}
.app__navbar {
  position: sticky;
  top: 0%;
  left: 0%;
}
.app__content {
  flex: 1;
}
.hashtag {
  color: #1d9bf0;
  cursor: pointer;
}
.hashtag:hover {
  text-decoration: underline;
}
.terminology {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  max-width: 75%;
  padding-top: 5%;
  margin: auto;
}
.terminology > * {
  font-size: small;
  color: var(--gray__text__color);
}
.terminology p:not(:last-child):hover {
  text-decoration: underline;
  cursor: pointer;
}
.terminology:last-child {
  text-decoration: none;
}
.terminology:last-child:hover {
  text-decoration: none;
  cursor: auto;
}
.name {
  font-weight: bold;
}

.username {
  color: var(--gray__text__color);
}
.username:hover {
  text-decoration: underline;
  cursor: pointer;
}
